
#map {
    height: calc(100vh - 20px); /* Adjust the height as needed */
    width: 100%;
    overflow-x: hidden;
}

#search-bar {
    width: 500px;
    position: absolute;
    top: 70px;
    left: 15px;
    z-index: 1;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;

}

#search-input {
    width: 500px;
    border: none;
    font-size: 16px;
    outline: none;
}

#search-input:focus {
    border-bottom-color: #007bff;
}

#search-results {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 500px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
}

#search-results li {
    padding: 10px;
    cursor: pointer;
}

#search-results li:hover {
    background-color: #f2f2f2;
}

.btn {
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}

.btn:hover {
    background-color: #0056b3;
}

.marker-label {
    position: absolute;
    top: -25px;
    left: -5px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 5px;
}

#means-fare-inputs {
    padding: 10px;
    display: none;
}

#means-fare-inputs > div {
    padding-top: 10px;
}

#result-container {
    border: 1px solid #ccc;
    padding: 20px;
    height: 45vh; /* Set the desired height */
    overflow-y: auto; /* Enable vertical scrolling */
}

#popup {
    margin: 20px, 20px, 20px, 0;
    width: 500px;
    display: none;
    position: relative;
}

#clear-btn {
    background-color:crimson;
    position: absolute;
    top: -13px;
    right: -100px;
    padding: 15px 15px 15px 15px;
    transition: filter 0.3s ease; /* Add transition for smooth effect */
}

#clear-btn:hover {
    filter: brightness(80%); /* Apply the darkening effect on hover */
}

#save-route-btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #save-route-btn:hover {
    background-color: darkgreen;
  }

  #side-panel {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
    bottom: 200px;
    width: 300px;
    height: calc(100vh - 300px); /* Adjust the height as needed */
    background-color: #f1f1f1;
    overflow-y: auto;
    padding: 20px;
    z-index: 1;
    overflow-y: auto; /* Enable vertical scrolling */
}